# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-0tWgYhj4IIKlZOOBzjCY0pAcqJXCVoIY0EmQg716jjmmSp4z

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=b419eb9a83a015e4b6ea6847c4261cf4

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xeJkYYhO8vsosVgB_R9GLJCYTWuw3FP3oMgrA5AggOu0kbd"

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgres://neondb_owner:9if4DWVAUtsp@ep-ancient-mud-a5zwu3xd-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require